@import "../../styles/mixins";


.contact-btn{
    border: 1px solid #111;
    padding: 20px;
    background-color: #111;
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    display: flex;
    width: 250px;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    border-radius: 3px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  span{
    width: 90%;
  }
  svg{
    width: 30px;
  }
  @include mq("tablet",max){
   
    right: 20px;
    bottom: 30px;
    will-change: transform;
    transition: all 0.2s ease,
    transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

  width: 82px;
  height: 46px;
  background-color: #000;
  border-radius: 24px;
  text-align: center;
  transition-delay: 0.4s;

  span {
    display: none;
  }

  
    
    
  }
}